<html ng-app="groceryApp">
	<head><title>Code Perks</title></head>
	<body ng-controller="MainCtrl as ctrl">
	
	<form ng-submit="ctrl.submit()" name="signupForm">
		<label for="username"> Username </label>
		<input 	type="text"
				name="username" 
				ng-model="ctrl.user.username" 
				required ng-minlength="4">

		<label for="password"> Password </label>
		<input 	type="password" 
				name="password"
				ng-model="ctrl.user.password" 
				required>
		<input 	type="submit" 
				value="Submit"
				ng-disabled="signupForm.$invalid">
	</form>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<script type="text/javascript">
			angular
			.module('groceryApp',[])
			.controller('MainCtrl', [function(){
				this.submit = function(){
					console.log('User clicked submit with ', this.user)
				};
				
			}]);
		</script>

	</body>
</html>
